.parallax-window {
    display: flex;
    min-height: 670px;
}

/* for href="#" links */
.anchor{
    display: block;
    height: 350px; /*same height as header*/
    margin-top: -350px; /*same height as header*/
    visibility: hidden;
  }