.parallax-window {
    display: flex;
    min-height: 100vh;
}

/* for href="#" links */
.anchor{
    display: block;
    height: 30vh; /*same height as header*/
    margin-top: -30vh; /*same height as header*/
    visibility: hidden;
  }